<body #myElement1>
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">contact@innoviusconsultants.com</a>
                <i class="bi bi-phone"></i> +1 5589 55488 55
            </div>
            <div class="d-none d-lg-flex social-links align-items-center">
                <a class="twitter"><i class="bi bi-twitter"></i></a>
                <a class="facebook"><i class="bi bi-facebook"></i></a>
                <a class="instagram"><i class="bi bi-instagram"></i></a>
                <a class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">
            <h1 class="logo me-auto"><a>FIRST PHARMACY</a></h1>


            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" (click)="myElement1.scrollIntoView({ behavior:
                        'smooth', block: 'start' })" [routerLinkActive]="['is-active']">Home</a></li>
                    <li><a class="nav-link scrollto">About</a></li>
                    <li><a class="nav-link scrollto" (click)="myElement.scrollIntoView({ behavior:
                                'smooth', block: 'start' })">Services</a></li>
                    <li><a class="nav-link scrollto">Contact</a></li>
                    <li><a class="nav-link scrollto" [routerLink]="['/reg/first']"
                            [routerLinkActive]="['is-active']">Register</a></li>
                    <li><a class="nav-link scrollto" (click)="logout()">Signout</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- <a class="appointment-btn scrollto" [routerLink]="['/login']" [routerLinkActive]="['is-active']"><span
                    class="d-none d-md-inline">Make An</span>
                Appointment</a> -->
            <div class="col-md-2 welcome">
                <div class="">
                    <div class="username float-end" *ngFor="let x of user">
                        <h2 style="margin-top: 15px;">Welcome {{x.PATIENT_NAME}}</h2>
                    </div>
                    <mat-icon class="icon-text" style="margin-left: 200px;">account_circle</mat-icon>
                </div>
            </div>
        </div>
    </header>
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <h1 style="color:#999900;">&nbsp;&nbsp;&nbsp; Welcome to </h1><br>
            <h1 style="color: #999900;">First Pharmacy</h1>
            <h2>We provide all kinds of clinical Services</h2>
            <a class="btn-get-started scrollto">Get Started</a>
        </div>
    </section>

</body>
<div #myElement>
    <app-first></app-first>
</div>