<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Welcome to First Pharmacy</title>
</head>

<body>
    <div class="container-fluid custom-container">

        <div class="row">

            <div class="col-md-1">
                <div class="left-menu">
                    <div class="menu-top">
                        <ul>
                            <li><a href="#" class="active"><span class="fa fa-cog fa-2x"></span> Services</a></li>
                        </ul>
                    </div>
                    <div class="menu-bottom">
                        <ul>
                            <li><a href="#"><span class="fa fa-user fa-2x"></span> User Details</a></li>
                            <li><a href="#"><span class="fa fa-sign-out fa-2x"></span> Sign-out</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-11 right-content">

                <div class="row">

                    <div class="col-md-2">
                        <div class="logo">
                            <img src="assets/img/logo.png">
                        </div>
                    </div>

                    <div class="col-md-6"></div>

                    <div class="col-md-4">
                        <div class="search-bar">
                            <div class="form-group has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" class="form-control" placeholder="SEARCH">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="head-title">
                                <div class="media-left">
                                    <img src="assets/img/mother.png" class="mr-3" alt="...">
                                </div>
                                <h3>Mother & Baby Care</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row box">
                            <div class="col-md-7 ps-0">
                                <div class="head-title">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="assets/img/11.png" class="mr-3" alt="...">
                                        </div>
                                        <div class="media-body2">
                                            <h4 class="mb-0">Ethan Fuller</h4>
                                            <h6 class="mb-0"><small>Information</small></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p class="row-title">BABY CARE</p>
                    
                        <div class="col-md-7" class="flex-container">
                            <div class="col-md-3">
                                <div class="box">
                                    <div class="head-title">

                                        <h3 (click)="sit()">Baby Sitting</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                             
                                <div class="box">
                                    <div class="head-title">
                                      <h3 (click)="care()">baby Care Nurse</h3>                                    
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="head-title">

                                        <h3 (click)="neo()">Nenonatal</h3>
                                    </div>
                                </div>
                            </div>
                           
                            
                        </div>
                


                    <div class="row">
                        <p class="row-title">MOTHER CARE</p>
                        <div class="col-md-16">
                            <div class="cause-box">
                                
                                    <h3 style="text-align: center;align-items: center;" (click)="lact()">LACTATION</h3>
                    
                            </div>
                            <div class="cause-box">
                                   <h3 style="text-align: center;align-items: center;" (click)="radi()">RADIOLOGY</h3>
                                
                            </div>
                            <div class="cause-box">
                                    <h3 style="text-align: center;align-items: center;" (click)="bfs()">BREASTFEEDING_SUPPORT</h3>
                                
                            </div>
                            <div class="cause-box">
                                    <h3 style="text-align: center;align-items: center;" (click)="nd()">NUTRITION&DIETETICS</h3>
                        
                            </div>
                            <div class="cause-box">
                                    <h3 style="text-align: center;align-items: center;" (click)="gyn()">GYNECOLOGIST</h3>
                            
                            </div>
                        </div>
                    </div>







                </div>
            </div>
        </div>

        <script src="assets/js/jquery-3.6.0.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
    </div>
</body>

</html>