<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Welcome to First Pharmacy</title>
</head>

<body>
  <div style="display: flex;">
    <div class="col-lg-1 col-md-1 col-sm-1">
      <app-sidebar></app-sidebar>
    </div>
    <div class="container-fluid custom-container">

      <div class="row">
        <div class="col-md-11 right-content">

          <div class="row">

            <div class="col-md-2">
              <div class="logo">
                <img src="assets/img/logo.png">
              </div>
            </div>

            <div class="col-md-6"></div>

            <div class="col-md-4">
              <div class="search-bar">
                <div class="form-group has-search">
                  <span class="fa fa-search form-control-feedback"></span>
                  <input type="text" class="form-control" placeholder="SEARCH">
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="box">
                <div class="head-title">
                  <div class="media-left ">
                    <img src="assets/img/blood-bank.png" class="mr-3" alt="...">
                  </div>
                  <h3>BP Monitoring</h3>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row box">
                <div class="col-md-7 ps-0">
                  <div class="head-title">
                    <div class="media">
                      <div class="media-left">
                        <img src="assets/img/11.png" class="mr-3" alt="...">
                      </div>
                      <div class="media-body2">
                        <h4 class="mb-0">Ethan Fuller</h4>
                        <h6 class="mb-0"><small>Information</small></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 px-0">
                  <div class="mid-btn-grp1">
                    <div class="head-title" [formGroup]="bpsubForm">
                      <div class="form-group">
                        <div align="right" *ngFor="let item of necDetail" value="item.NEC_ID" style="color: darkblue;"
                          name="NEC_ID" id="NEC_ID" formControlName="NEC_ID">
                          <p>{{item.NEC_NAME}}</p>
                        </div>
                        <div formControlName="PATIENT_ID"></div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="head-title-btn">
                <input type="button" style="background-color:rgb(13, 214, 187);" value="Book Appointment" name=""
                  (click)="bookBp()" class="btn btn-default">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="box">
                <p>SCHEDULE APPOINTMENT</p>
                <div class="row">
                  <div class="col-md-12" [formGroup]="bpsubForm">
                    <div class="date-custom" class="form-group">
                      <input type="datetime-local" class="form-control" placeholder="Date" name="" formControlName="BOOKING_DATE" >

                    </div>
                  </div>
                </div>
                <br>
                
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="box">
                <p>ADDRESS</p>
                <div class="row">
                  <div class="col-md-12">
                    <div class="date-custom">
                      <input type="type" class="form-control" placeholder="Same as in the Health card" name=""
                        data-provide="datepicker">
                      <div class="input-custom-addon"><span><input type="checkbox"></span></div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row" [formGroup]="bpsubForm">
                  <div class="col-md-6" class="form-group">
                    <input type="type" class="form-control" placeholder="H.NO./Building Name" name=""
                      formControlName="HOUSE_NO">
                  </div>
                  <div class="col-md-6" class="form-group">
                    <input type="type" class="form-control" placeholder="Floor" name="" formControlName="FLOOR_NO">
                  </div>
                </div>
                <br>
                <div class="row" [formGroup]="bpsubForm">
                  <div class="col-md-6" class="form-group">
                    <input type="type" class="form-control" placeholder="Locality" name="" formControlName="LOCALITY">
                  </div>
                  <div class="col-md-6" class="form-group">
                    <input type="type" class="form-control" placeholder="City" name="" formControlName="CITY">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>